[2013-03-14 02:00] xxr3376 opened #1 "添加 Changelog 页面"

[2013-03-14 02:00] xxr3376 opened #2 "在welcome页面添加version信息"

[2013-03-14 02:02] xxr3376 opened #3 "添加延迟刷新功能"
若在5分钟之内刷新，则直接使用离线数据，不进行同步。

[2013-03-14 02:20] summivox opened #4 "bug: `xxx(yyy)`: `(yyy)` truncated"
课名举例：
- `日语(第二外国语)(2)`
- `机械设计基础A(3)`

在左边显示：

![ScreenClip 1 ](https://f.cloud.github.com/assets/1770521/257223/9814deac-8c4d-11e2-92b0-48d3fe102f39.png)

[2013-03-14 03:38] summivox opened #5 "snippet layout suggestion"
![ScreenClip 1 ](https://f.cloud.github.com/assets/1770521/257394/65974658-8c58-11e2-9b4e-3b1cb4b0b1f8.png)

课程名是重要信息，重要程度与通知标题相当，是否可以考虑提到上面去？

这样看起来真的很难受……

[2013-03-14 05:04] #4 closed, assigned to xxr3376

[2013-03-14 05:42] #2 closed, assigned to brian14708

[2013-03-14 11:05] xxr3376 opened #6 "密码加密"
考虑把localStorage里面的密码还是SHA-1之类的一下吧，避免过于简单的获取密码。

[2013-03-14 12:25] #6 closed, assigned to nobody

[2013-03-14 14:53] xxr3376 opened #7 "添加File页面分析"
@ URL_CONST['file']

[2013-03-15 06:02] #7 closed, assigned to xxr3376

[2013-03-15 06:03] xxr3376 opened #8 "File栏CSS"
除了目前已经使用的颜色之外，文件还可以用神马theme么？如果不够可以考虑把橙色改过来。

文件图标。

[2013-03-15 06:04] xxr3376 opened #9 "File 过滤栏"
Exception 页面进行修改

[2013-03-15 13:14] xxr3376 opened #10 "FILE置顶功能运行不正常"

[2013-03-23 05:59] #10 closed, assigned to xxr3376

[2013-03-23 05:59] #9 closed, assigned to xxr3376

[2013-03-23 06:02] xxr3376 opened #11 "Deadline 剩余数量bug"
目前把已过期、未完成的deadline也计算进入了未完成作业中。

[2013-03-23 12:26] #11 closed, assigned to nobody

[2013-04-26 13:39] #1 closed, assigned to xxr3376

[2013-04-26 13:39] #3 closed, assigned to nobody

[2013-05-17 00:55] korepwx opened #12 "On Ubuntu 13.04, Chromium 25.0, Learn-Project does not work because of background.js"
On Ubuntu 13.04, Chromium 25.0, Learn-Project does not work.

I managed to fix this problem by replacing all "chrome.runtime" in background.js with "chrome.extension". See http://stackoverflow.com/questions/16198779/chrome-extension-message-passing.

[2013-06-07 07:36] zxytim opened #13 "add exam schedule module"
RT

[2013-09-16 08:12] baishuai opened #14 "关于文件下载"
觉得每次下载然后选择目录很麻烦，希望增加直接下载到已设置根目录下相应子目录的功能

[2013-09-29 02:32] moon5ckq opened #15 "About ignore single item"
希望可以加入忽略单个作业、通知、文件的功能

[2013-09-29 02:35] #8 closed, assigned to brian14708

[2013-09-29 02:35] #5 closed, assigned to nobody

[2013-09-29 02:39] #14 closed, assigned to nobody

[2014-03-15 15:45] chenxiaoqino opened #16 "Add support for learn v2"
New version of learn website is located at [http://learn.cic.tsinghua.edu.cn/](http://learn.cic.tsinghua.edu.cn/). It is rumored that this website has a set of standard API for developers (URLunknown).

As of Feb 2014, as said by one teacher using it, one course can only use either the new version website or the old one. I.e., the data on two websites are completely separated.

Please consider add

[2014-03-23 06:45] chenxiaoqino opened #17 "“课程公告”与网络学堂同步未读状态"
当前Learn Helper内公告的已读/未读属性与学堂的记录不会双向同步。

有人（如某林老师每周）编辑公告后重新设置其为未读；通过这种方式发布的消息不会被Learn Helper重新处理。尽管手动刷新可以获取公告内容，但该公告不会出现在“新鲜事”中。

[2014-03-23 06:48] #17 closed, assigned to nobody

[2014-10-15 15:54] meowtech opened #19 "Firefox Support Needed"
看见你们的工作，真心觉得很赞，身为firefox的重度用户，也想体验到你们的杰作，所以希望早日添加支持。

[2015-04-08 16:58] jas0n1ee opened #21 "网络错误：网络似乎出了一点小问题"
最近Learn Helper总是登陆不上，在win8.1和mac下的chrome都试过了。清空了缓存也重置了用户名密码，依然不行。。chrome 版本是41.0.2272.118 m....

[2015-04-09 05:26] xxr3376 commented on #21
网络学堂一直在做小幅改动，导致这边LearnHelper维护跟不上了，所以正常使用收到了影响。

我已离开学校，目前处于无人维护状态。。。

2015-04-09 0:58 GMT+08:00 Jason Lee <notifications@github.com>:

--
此致！
祝福一切顺利！

  By UltimateGeeker

清华大学 计05 许欣然
xxr3376@gmail.com
13439689801

[2015-04-10 12:14] yht1995 commented on #21
@jas0n1ee 似乎是新版网络学堂改成了每次都要重新登录导致
你可以帮我再测试一下 https://github.com/xxr3376/Learn-Project/pull/23
目前也不清楚有没有进一步的问题

[2015-04-10 12:46] xxr3376 commented on #21
感谢 @yht1995 @jas0n1ee ，麻烦两位做一下测试，如果基本正常的话，我会merge并发布更新版本。

另外如果愿意的话，请留下姓名、邮箱等联系方式，我在Release log中写上。

[2015-04-10 12:58] jas0n1ee commented on #21
mac 上的chrome测试课件下载、通知和作业都没有问题 @xxr3376

[2015-04-11 04:02] yht1995 commented on #21
@xxr3376 目前应该是可以正常使用了，问题就是没有了延迟刷新的功能，每次打开就会重新登录。

[2015-04-11 05:16] xxr3376 commented on #21
OK，稍后会进行merge和发布。
麻烦你修改下感谢页面~把你自己加进去之后再发个Pull Request吧

在 2015年4月11日 下午12:02，yaoht <notifications@github.com>写道：

--
此致！
祝福一切顺利！

  By UltimateGeeker

清华大学 计05 许欣然
xxr3376@gmail.com
13439689801

[2015-04-11 05:26] yht1995 commented on #21
小改动用不着写了，你直接打包吧，好几个同学一直在说不能用来着

[2016-04-14 05:48] baishuai opened #27 "添加旁听学生账户支持"
之前本科在清华学生的时候，就一值使用这个插件，非常棒。
目前在某研究所读研，研一的课程都在清华进修，使用旁听生的网络学堂帐号无法登录这个插件。
希望能够解决这个问题。
PS：如果需要旁听生的帐号进行调试，可以单独联系我。

[2016-10-15 11:58] tonygaosh opened #28 "网络错误：网络似乎出了一点小问题"
此问题再次在几天前出现，这几天一直是这样……

[2016-11-08 03:58] tonygaosh commented on #28
通过重装解决

[2016-11-08 03:58] #28 closed

[2017-06-17 05:24] chenxiaoqino opened #29 "对助教界面的支持？"
（这是一个Feature Request，我也没考虑好最佳的实现方式…）

使用Learn Helper这么多年来一直很顺畅，很感谢各位作者的维护；直到毕业前最后一个学期，我才解锁了网络学堂的助教功能。这时再打开Learn Helper，会照常渲染学生视角，貌似是因为网络学堂本身有`/lesson/teacher/`和`/lesson/student/`两种界面，而助教/老师用后者打开也会渲染成学生界面。

介于在主页中会出现”需要赶的作业“和”等大家提交完之后再开始改的作业“的deadline一起显示的情况，我想到以下几种可能的优化：

- 自动在隐藏设置中隐藏所有非学生身份的课程的提醒？
- 照常显示，只是左侧课程链接的URL修改成学堂的各个教师视角页面；
- 照常显示，设计一下相关的提醒，例如DDL在日期之前是灰色、日期之后变成绿色，新上传文件也不再出现提醒etc.

提出这个Iss

[2017-06-22 14:09] xxr3376 commented on #29
正如你所看到的，这个 repo 实质上的修改已经是 3 年前了。。。同一份代码能坚持至今已经是个奇迹了。。。

因为我从没有见过助教界面，现在也没有访问权限了，所以欢迎贡献代码，我很愿意帮助打包。
我建议忽略掉所有非学生身份的课程，看上去在现有的代码逻辑上会更容易修改一些。

时隔多年看来 master branch 的代码非常混乱，改动起来可能比较头疼。如果能把 v4 branch 从当年的 AngularJS（有性能问题所以放弃了）切换到 ReactJS 的话，这部分逻辑在 v4 branch 新写的后台中会容易写不少。

[2017-06-22 14:14] #21 closed

[2017-06-22 14:53] chenxiaoqino commented on #29
嗯，我完全明白。。。

可以指出一下从课程列表页面Parse课程的代码么？我没猜错的话，应该在`src/iced/background.iced#L245` (`db_updateCourseList`)？

是这样的话，貌似只需要暴力修改`courseList = courseDocument.querySelectorAll '#info_1 a'`这一行…待我去研究一下DOM结构。

旧版学堂的含有助教课程的课程列表：
 https://gist.github.com/chenxiaoqino/0f26f50f252b4eaf1d02e7784d514e37

[2017-06-23 11:05] xxr3376 commented on #29
是的。

在 2017年6月22日 下午10:53，chenxiaoqino <notifications@github.com>写道：

--
旷视科技 许欣然
xxr3376@gmail.com

[2017-06-23 11:09] xxr3376 commented on #29
应该是 https://github.com/xxr3376/Learn-Project/blob/master/src/iced/background.iced#L262 这里额外判断一下，忽略掉 URL 包含 /teacher 的部分就可以了。

[2018-04-15 08:49] wuqiling97 opened #30 "“在新窗口中打开”无法显示课程公告"
![image](https://user-images.githubusercontent.com/19304928/38776580-b2df4f46-40cb-11e8-8572-d8c13a82ae8b.png)

对于使用旧版网络学堂的课程，在上图当中点击“在新窗口中打开”后，弹出的标签页当中没法显示课程公告。

原因：弹出网页使用的是https协议，但是课程公告是使用http加载的，而这个行为被chrome阻止了。

解决方案：将const.js当中的window.URL_CONST['course_page']字符串的'https'改为'http'

[2018-04-16 04:50] xxr3376 commented on #30
@wuqiling97 能否贡献一个 Pull request 呢？我已经离校多年，不再维护这个项目了。

[2018-04-16 09:06] wuqiling97 commented on #30
#31 已经创建好PR了

[2018-04-21 03:12] #30 closed

[2019-01-09 12:11] Harry-Chen opened #32 "迁移到网络学堂 2018 版"
下学期开始网络学堂会彻底放弃 2001 和 2005 版，使用新的 2018 版。这一版本比以前友好之处在于几乎所有内容（课程信息/公告/作业等）都有相应的 JSON API，不用去 Parse DOM 了。

虽然看起来项目的 codebase 的确有些不好下手，但是感觉交互逻辑和 UI 非常好。现在已经有现成的一些库，比如 https://github.com/jiegec/thulib 。我打算在此基础上重写一下这个项目的后端部分。

不知道作者是否有什么建议？

[2019-01-09 15:37] xxr3376 commented on #32
其实4年前已经做过了封装 API 的尝试（当时用的是 Q），以及尝试用 AngularJS 进行完整的重写以拆分界面交互和后台逻辑，见 https://github.com/xxr3376/Learn-Project/tree/v4 这个 branch。但当时 AngularJS 对于超长 list 的支持非常差，导致整个页面的性能很差，因此没有替换掉主线（当时已经基本可用了）。

新版本强烈建议用 React 或者 vue 作为渲染引擎，配合上以 promise 为主的后端 API，可以把逻辑梳理的相当清楚（Redux state 直接存在 localstorage 里面，可以完美实现离线功能）。

非常开心看到有人愿意在这个界面的基础上继续开发，热烈欢迎！

[2019-02-13 09:33] Harry-Chen commented on #32
最近正在 `Harry-Chen/Learn Project` 开发，预计这个星期能出一个初版（flag）。等我找过人测试以后 PR 到这里来，还请麻烦协助发布到 Chrome Store。
逻辑全部重新实现了，用的就是 React + Redux。UI 换成了 Material 风格的，操作基本没有变。目前效果如下，应该还会进行大幅调整（实在是不会设计）：

![image](https://user-images.githubusercontent.com/2819727/52701540-69ac5b00-2fb5-11e9-987f-3fb84c773d82.png)

[2019-02-13 09:45] xxr3376 commented on #32
@Harry-Chen 点赞！我建议把待测试的具体的功能列出来，这样便于测试、避免遗漏。

另外请把你的名字放在作者列表首位，我首次 review 之后愿意把 repo 管理权限交给你。

[2019-02-13 14:34] xxr3376 commented on #32
@Harry-Chen 查看了一下你的 repo，代码质量非常高！

[2019-02-17 17:04] Harry-Chen commented on #32
参见 #33
下面一星期主要就进行测试、修 bug 和调节 UI 了。刚好下周一就开学了，可能的话争取开学前推到 Chrome Store。

[2019-02-20 15:03] Harry-Chen commented on #32
经过了不少的测试， #34 应该就是 4.0.0 的最终版本了。麻烦 @xxr3376 协助打一个 tag，然后推到 Chrome Store 更新。如果忙的话，也可以给我一个 collaborator 的权限，我直接做好准备工作打一个包放在 releases 里面。

[2019-02-21 17:51] xxr3376 commented on #32
@Harry-Chen 你可以关注一下邮箱……你提 MR 的当天就给你发 collaborator 的邀请了。。。

[2019-02-21 17:52] xxr3376 commented on #32
已经在 Chrome 商店更新，有任何问题请随时沟通。

[2019-02-22 02:58] Harry-Chen commented on #32
@xxr3376 不太好意思，我 Outlook 失去同步了。。。

[2019-02-22 02:58] #32 closed

[2019-02-22 03:08] Harry-Chen commented on #16
learn 2015 is now deprecated

[2019-02-22 03:08] #16 closed

[2019-02-22 03:08] Harry-Chen commented on #19
有计划实现一个 Electron 的版本，所以就不单独增加浏览器支持了。

[2019-02-22 03:08] #12 closed

[2019-02-22 03:10] Harry-Chen commented on #29
目前网络学堂 2018 的后端库会直接忽略助教的课程，新的 v4.0.0 中已经没有此问题。

[2019-02-22 03:10] #29 closed

[2019-02-22 08:55] IrisLi17 opened #35 "前端宽度适配"
pane content有时会超出屏幕宽度，不太美观
![image](https://user-images.githubusercontent.com/28811555/53230717-4030b500-36c2-11e9-826c-ed44ad8c9557.png)

(https://github.com/xxr3376/Learn-Project/blob/97459f33d20d618c0ab1747f8fbf26ccb6371976/src/css/main.css#L134)

[2019-02-22 10:06] Harry-Chen commented on #35
对，这个的确是特意做的，是怕太窄了以后布局变形过度。
我的确不怎么会设计UI，如果你有什么好的建议也可以一起 PR？

[2019-02-23 02:53] xxr3376 commented on #35
@Harry-Chen 请使用 css 的 media query 针对不同分辨率的宽度设置不同的 min-width 和 margin。

[2019-02-23 11:42] zhaoxh16 opened #36 "无法下载课程公告中的文件"
![_20190223194142](https://user-images.githubusercontent.com/23635588/53286014-11d6d680-37a3-11e9-82e1-54e8c66398ce.png)
当打开课程公告，并下载课程公告中的文件时，会显示错误“找不到您的文件，该文件可能已被移至别处或遭到删除。”

[2019-02-23 13:10] RikaSugisawa commented on #19
现在Firefox和Chrome的附加组件已经基本上统一了。我尝试了一下在FF中使用，目前只发现下载文件时会破坏当前页面的显示内容，其余功能似乎没有什么影响。如果有空的话我可能会做一下FF的适配。

[2019-02-24 01:43] Harry-Chen commented on #36
已查明错误来自于 thu-learn-lib 的解析

[2019-02-24 03:04] #36 closed

[2019-02-24 03:52] #35 closed

[2019-02-24 04:40] Harry-Chen commented on #19
@RikaSugisawa 感谢，下载文件我是直接使用 `location.href` 进行重定向，由于服务器使用 `Content-Disposition` 头进行文件传送，Chrome 可以正常认为是文件下载。不知道 FF 是怎么处理的，一个 Fallback 方案是直接弹出一个新窗口。

[2019-02-24 04:43] Harry-Chen commented on #35
我目前使用了 media query 进行了一些调整，保证 >1024 宽度时显示比较正常，< 1024 的时候不可避免要滚动，否则的确是不太好看。以及我发现太长的 URL 的 wrap 有问题，可能是浏览器实现问题。目前没有太过影响使用的感受。

[2019-02-24 11:40] gaoyichuan opened #37 "Feature Request: 去除课程公告内的空行"
有很多老师在填写课程公告的时候会加入大量空行，导致 Learn Helper 中公告内容显示观感比较差，希望能去除空行（包括内容只有 whitespace 的行）

PS：貌似大部分空行来自浏览器给 `<p>` 增加的样式

[2019-02-25 00:17] IcicleF opened #38 "Feature Request: 单击文件卡片的时候不直接下载"
* 一些课程文件有简介，这个简介只能在文件卡片底部显示，一般显示不全。
* 另外单击文件卡片就会直接下载文件，这个feature从3.x.x其实就有点想吐槽，有的时候点一个文件真的不是为了下载它而只是为了清未读标记而已...

综上，是否能提供单击文件不直接下载，而是在右边显示简介的feature
也可以为这个功能引入一个开关

[2019-02-25 02:01] Harry-Chen commented on #37
这个是 whitespace: pre-wrap 带来的问题，事实上不太好识别什么是“空行”，比如 `<p />`, `<span />`, `<br />` 都有可能带来空白的段落。我现在直接把HTML嵌入到页面中渲染，所以不太好控制最后究竟是什么样的。或许可以给这些元素加上一些样式来 workaround

[2019-02-25 02:03] Harry-Chen commented on #38
嗯，我感觉这的确需要改进一下。不过清除已读标记其实有对应的按钮

[2019-02-25 02:12] jiegec commented on #37
替换连续的换行？

[2019-02-25 02:13] Harry-Chen commented on #37
@jiegec 目前能做的就只有把 `\n` 之类的替换掉，其他的基本都无能为力了

[2019-02-25 02:21] Harry-Chen commented on #37
目前测试表明，去掉 `pre-wrap` 效果似乎好一些， @gaoyichuan 不妨验证一下？

[2019-02-25 02:26] gaoyichuan commented on #37
测试了一下，去除 `pre-wrap` 的确可以让渲染效果更正常

[2019-02-25 02:36] Harry-Chen commented on #38
Fixed by #39

[2019-02-25 02:36] #38 closed

[2019-02-25 03:40] #37 closed

[2019-02-25 08:13] RikaSugisawa commented on #19
Firefox提示下载事件，同时页面上的内容清空。我的想法也是在新标签页打开，不知道还有没有什么其他的方案。

[2019-02-25 08:19] Harry-Chen commented on #19
我找到了一个 WebExtension API: `browser.downloads`，在 [MDN](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/downloads/download) 有说明
用这个 API 或许可以解决这些问题（还可以顺便把插件里面用到的 `chrome` 换成 `browser`）

[2019-02-25 08:19] Harry-Chen commented on #19
如果你有空的话可以修改一下

[2019-02-25 08:20] RikaSugisawa commented on #19
好的，有空了我尝试一下

[2019-02-25 08:35] rcy17 opened #40 "重复打开时新标签数会指数上涨"
正常情况下点击插件相应按钮chrome会打开一个新标签来运行插件，但是当我已经打开一个learnhelp时，再点几次按钮，会依次出现2、4、8、16个新标签，虽然也无伤大雅，甚至不知道算不算bug，不过要是是bug的话还是希望修复一下

[2019-02-25 08:36] Harry-Chen commented on #40
这肯定是个bug，可以复现。但是不知道为什么……需要研究一下

[2019-02-25 08:37] rcy17 commented on #40
补充一句，经过进一步测试，如果我已经打开了n个标签，点击按钮会新产生n+1个

[2019-02-25 08:43] Harry-Chen opened #41 "支持仅显示未读项目"
考虑在 CardList 上加一个开关，仅显示未读项目。
同时也有人指出需要一个不带 priority 的收件箱，考虑是否实现

[2019-02-25 08:51] Harry-Chen commented on #15
<del>由于 issue 提出者毕业而咕咕咕</del>
我调查了一下，大部分同学们认为没有必要（可以脑补忽略），因此就不作为目前比较紧急的需求了
不过的确有时候一个不需要交的作业一直在那里是挺头痛的，因此接下来可以考虑实现

[2019-02-25 08:52] Harry-Chen commented on #13
考试安排超出了网络学堂功能的界限，因此暂时不考虑实现

[2019-02-25 08:52] #13 closed

[2019-02-25 08:53] Harry-Chen commented on #27
目前这个问题应该解决了，4.0.0 开始走的是学校的统一认证接口

[2019-02-25 08:53] #27 closed

[2019-02-25 09:11] Harry-Chen commented on #40
考虑下一个版本改成单例的

[2019-02-25 15:08] Harry-Chen opened #42 "渲染作业详情时发生错误"
homework 的 description 可能为空，即使是已经提交的，`submitTime` 也可能为空（老师代交）

上述两个问题都会导致 `undefined` 访问，从而导致 UI 崩溃

[2019-02-26 03:45] IcicleF opened #43 "管理忽略项时发生错误"
从左边栏进入管理忽略项的时候可能崩溃
[code]
怀疑原因是已经配置了忽略项的课程被退课导致

[2019-02-26 03:48] #40 closed

[2019-02-26 03:48] #42 closed

[2019-02-26 03:52] Harry-Chen commented on #43
感谢找到一个 corner case

[2019-02-26 04:23] #43 closed

[2019-02-26 05:51] #19 closed

[2019-02-26 09:42] LuoBingjun opened #44 "bug:点击作业时网页会变成空白"

[2019-02-26 09:58] Harry-Chen commented on #44
见 #42 ，v4.0.3 已经修复

[2019-02-26 09:58] #44 closed

[2019-02-26 14:07] rcy17 opened #45 "dist目录文件缺失"
我没理解错的话，dist文件内容理应和release内容一致，但是看上去似乎缺少了`background.js`和`index.js`，导致试图直接clone项目从dist导入添加插件的话会提示文件缺失

[2019-02-26 14:20] jiegec commented on #45
nope, 需要运行 npm build 啊

[2019-02-27 01:55] Harry-Chen commented on #45
这两个文件是编译结果，不应该被添加在 git 中。

[2019-02-27 01:55] #45 closed

[2019-02-27 02:45] Leojc opened #46 "疑似BUG：已经阅读的内容在重新点击插件图标后，又变成未读了"
Firefox Add-ons 版，4.0.3

[2019-02-27 02:47] Harry-Chen commented on #46
似乎是 Firefox 不能正确地进行状态持久化，我不是 FF 用户，目前暂时也没有时间调试。预计下一个大版本进行修复

[2019-02-27 02:59] Leojc opened #47 "建议：三栏的滚动条分别滚动"
目前我这里是第一、二栏是同时滚动的，这样子导致切换课程，查看公告，需要来回的上下滚动。
（Firefox Add-ons 版，4.0.3）
谢谢作者~

[2019-02-27 03:00] Harry-Chen commented on #47
其实的确是分别滚动的（Chrome 正常），我过一阵子会集中解决一下 FF 上的问题

[2019-02-27 03:01] Leojc commented on #47
原来如此，多谢

[2019-02-28 10:45] liangmx17 opened #48 "建议开发一键下载功能"
要是有一个“一键下载未读文件”的功能就更好了

[2019-02-28 11:30] renzibei opened #49 "作业内容会超出宽度"
公告等的文字宽度正常，但是作业的文字介绍会超出。
<img width="1672" alt="2019-02-28 19 22 09" src="https://user-images.githubusercontent.com/31380016/53563515-378f2180-3b8f-11e9-866c-dc0ff9161c97.png">

[2019-02-28 14:39] gaoyichuan commented on #49
在最新版（4.0.3）通过审查元素的方式没能成功复现这个问题，请问你的插件版本号是？

[2019-02-28 14:45] jiegec commented on #49
可以复现。4.0.3 同样是这个作业。

[2019-02-28 16:29] renzibei commented on #49
4.0.3的版本出现该问题，用的mac的最新chrome

[2019-03-03 04:02] mhy12345 opened #50 "建议：在首页添加链接到learn.tsinghua.edu.cn的链接"
有些时候想从插件页面跳转到learn.tsinghua.edu.cn网站，但是在插件页面上找不到可以快速跳转的方法。

[2019-03-04 02:15] Harry-Chen commented on #50
每个课程都有”课程主页“可以跳过去

[2019-03-04 12:49] renzibei commented on #49
<img width="915" alt="image" src="https://user-images.githubusercontent.com/31380016/53734210-3bd47b00-3ebe-11e9-93e7-2c4610eba4fc.png">
贴上html，经检查，原网页中就存在那很多的<span>
<img width="1462" alt="image" src="https://user-images.githubusercontent.com/31380016/53734466-0a0fe400-3ebf-11e9-9c90-3af5c914ed93.png">

其他的作业不一定会出现这种问题
<img width="1653" alt="image" src="https://user-images.githubusercontent.com/31

[2019-03-04 12:52] Harry-Chen commented on #49
这个其实没有很好的办法，因为网络学堂的作业经过了编辑器以后带上了比较多奇怪的 HTML tag 和样式，如果不尊重的话，就可能导致表格等内容不正常；如果按照原样显示，就会发生现在这个情况。不管是 wrap 还是不 wrap 都会不可避免出现问题。

[2019-03-04 12:53] Harry-Chen commented on #48
目前有人（不是我）正在 work on 这件事情

[2019-03-04 13:04] renzibei commented on #49
能不能过滤除了表格、段落等以外的tag

[2019-03-04 13:07] Harry-Chen commented on #49
就你目前这个例子而言，span 也表示文本块。HTML 的标签没有严格的语义，配合 CSS 能够得到任意的样式，我认为贸然过滤不可取

[2019-03-05 15:05] mhy12345 commented on #50
点击课程主页之后，页面是在一个iframe里面打开的，大小只有浏览器窗口的1/2，看起来非常不方便

[2019-03-05 16:05] Harry-Chen commented on #50
@mhy12345 点击右侧栏左上角的按钮即可全屏。

[2019-03-05 16:05] #50 closed

[2019-03-07 11:21] tarawa opened #51 "“通过”显示为“-60”"
查看作业成绩时，若成绩为“通过”则会显示为-60分。

[2019-03-12 07:21] shyoshyo commented on #51
另外，没有批阅但没有给成绩时，显示 undefined

![image](https://user-images.githubusercontent.com/5780122/54181732-7485dd00-44da-11e9-9974-d838c889074c.png)

[2019-03-12 09:10] TrevorHuang opened #52 "建议：提供自定义课程缩略名功能"
Hey，是否可以在本学期课程下提供自定义缩略名功能？比如“思想道德修养与法律基础”->“思修”，“毛泽东思想和中国特色社会主义理论体系概论”->“毛概”，等等。

[2019-03-12 13:37] Harry-Chen commented on #51
corner case 实在是太多了…记下了……一起修

[2019-03-12 13:38] Harry-Chen commented on #51
目前看来批阅的作业至少有四种状态：
* 已阅：-1
* 通过：-60
* 正常：（相应分数）
* 不给成绩： undefnied

[2019-03-12 13:48] Harry-Chen commented on #51
![image](https://user-images.githubusercontent.com/2819727/54205021-72d70c00-4510-11e9-92f8-827721295c28.png)

这个是网络学堂的非分值作业批改选项，每一个option都对应一个负数…

[2019-03-12 13:51] tarawa commented on #51
欸。。那等级和百分是怎么对应的。。

[2019-03-12 13:59] Harry-Chen commented on #51
认真分析了网络学堂的前端，对应关系为：

* -100 已阅
* -99 A+
* -98 A
* -92 A-
* -87 B+
* -82 B
* -78 B-
* -74 C+
* -71 C
* -68 C-
* -66 D+
* -64 D
* -30 F
* -51 I
* -62 EX
* -63 P
* -31 F,N/A
* -50 缓考
* -61 免修
* -85 优秀
* -60 通过
* -59 不通过
* -65 免课
* -55 W
* -67 G

我现在有些懵逼……

[2019-03-12 14:01] Harry-Chen commented on #51
将在 `thu-learn-lib` 下一个版本修复，并用到本插件的最新版本中

[2019-03-12 14:04] shyoshyo commented on #51
优雅的实现 233

[2019-03-12 16:09] jiegec commented on #52
P.S. 应缩写为“概论课”（误

[2019-03-12 16:17] Harry-Chen commented on #52
考虑以后添加，不作为当前开发目标

[2019-03-17 03:05] RikaSugisawa commented on #51
噗w刚刚发现有一个作业是-71分，就顺便查了查。
（有点好奇是怎么查出来这个对应关系的

[2019-03-21 07:39] IcicleF opened #53 "课程公告乱码？"
空的公告内容显示为奇怪的东西，也不知道是不是个bug

![1](https://user-images.githubusercontent.com/26814565/54738499-7db82d80-4bef-11e9-8020-a721ad4fcec4.png)
![2](https://user-images.githubusercontent.com/26814565/54738501-7db82d80-4bef-11e9-8c9c-c73133c63759.png)

[2019-03-21 13:43] Harry-Chen commented on #53
这是UTF-8的BOM，网络学堂使用了很迷的存储方式

[2019-03-23 03:17] LyricZhao opened #54 "在作业详情页中点击返回会导致整个页面刷新"
点击一个作业卡片，右侧页面会跳转到一个作业详情页，详情页最下面是一个返回按钮，点击后整个工具会刷新。

[2019-04-01 14:11] wangyurzee7 opened #55 "建议：忽略项只在main inbox隐藏"

[2019-04-03 10:22] heheda12345 opened #56 "老师移除“课程文件”条目导致刷新失败"
RT

[2019-04-03 10:27] #54 closed

[2019-04-03 10:29] heheda12345 opened #57 "讨论区标题出现html字符"
![image](https://user-images.githubusercontent.com/25218289/55472220-229a2800-563e-11e9-9971-2dd81887675c.png)
![image](https://user-images.githubusercontent.com/25218289/55472259-3e9dc980-563e-11e9-89a2-7a3631df72ab.png)

[2019-05-15 05:23] dramforever opened #58 "Feature request：作业在收到评价的时候再次成为未读"
日常有助教突然判了一个月前交的作业这样的情况，很不容易注意到。

[2019-05-15 17:50] Harry-Chen commented on #58
（我以为我做了)

[2019-05-16 02:31] bl0 opened #59 "讨论区帖子过多时超出了底部"
如图，讨论区帖子过多时超过了底部，看了一下网络学堂里没有这个问题。
![image](https://user-images.githubusercontent.com/9164121/57822156-a7439e80-77c5-11e9-876b-11b9aeb98c6f.png)

[2019-05-16 02:33] Harry-Chen commented on #59
应该是网络学堂的CSS有问题，在frame中计算会产生错误

[2019-06-28 17:02] #51 closed

[2019-06-28 17:03] Harry-Chen commented on #59
这个问题我暂时无法复现…因此先搁置一下

[2019-06-28 17:11] #49 closed

[2019-06-28 17:28] Harry-Chen commented on #57
讨论区的标题没有被 escape 过

[2019-06-28 17:33] #58 closed

[2019-06-28 17:33] #57 closed

[2019-06-28 17:47] Harry-Chen commented on #56
当 https://github.com/Harry-Chen/thu-learn-lib/issues/9 完成后，可以进一步修复此问题

[2019-06-28 18:07] Harry-Chen commented on #41
重新评估以后，认为需求并不大（未读项目始终置顶）

[2019-06-28 18:07] #41 closed

[2019-06-28 18:27] #55 closed

[2019-06-28 18:46] #15 closed

[2019-06-29 02:33] Harry-Chen commented on #53
更正：这不是 BOM，奇怪的字节是 `\xC2\x9E\xC3\xA9\x65`。目前对此毫无头绪，使用 workaround 的方式暂且认为是修复了。

[2019-06-29 02:33] #53 closed

[2019-06-29 02:34] #56 closed

[2019-06-29 07:46] #48 closed

[2019-06-29 09:44] #46 closed

[2019-07-01 06:50] Harry-Chen commented on #56
fixed by commit 9577797

[2019-09-08 14:39] LyricZhao opened #61 "课程名字太长显示超出了边框的范围"
![image](https://user-images.githubusercontent.com/35299455/64489753-4a468980-d289-11e9-9222-f9532562d38c.jpg)

如图所示，在亲密关系那门课中因为名字太长超过了边框范围

[2019-09-09 13:03] RyanWei0224 opened #62 "建议：一键下载功能 能否根据课程将下载的文件分文件夹保存"
或者加上不同的前缀/后缀也行
emmm因为一次下载几十个文件实在是不好分辨哪个是属于哪个课程的。。。
麻烦作者啦

[2019-09-09 13:41] Harry-Chen commented on #62
这里有一个不好实现的问题，我事实上不知道这些附件的文件名，所以是直接调用浏览器 API 告知它下载的。

[2019-09-09 13:41] Harry-Chen commented on #62
以及 API 也没有指定存放位置的功能

[2019-09-14 12:36] RyanWei0224 commented on #62
抱歉，是我zz了，可以仅下载一节课的全部文件。。。
麻烦你们了

[2019-09-14 12:36] #62 closed

[2019-09-15 15:28] robertying opened #63 "badge 数量应忽略隐藏项"
即使隐藏了某课的作业，在“项目汇总”的“所有作业”以及插件在 Chrome 菜单栏的图标仍会显示包含该课作业数量的 badge。

例：实验室科研探究 100 多项作业。

[2019-09-20 02:19] heheda12345 opened #64 "无法正确处理退课"
清除数据，重新登录之后能恢复正常
![error](https://user-images.githubusercontent.com/25218289/65294080-08beb400-db90-11e9-93a0-3cb485033dd7.PNG)

[2019-09-20 02:31] Harry-Chen commented on #63
事实上已经忽略了这些内容 https://github.com/xxr3376/Learn-Project/blob/master/src/components/SummaryList.tsx#L77
不知道你指的是不是手动隐藏了单个内容

[2019-09-20 09:53] rzswh opened #65 "建议：对作业按照截止日期排序"
现在貌似是按照作业生效时间排序，感觉不太友好，可以改进一下w
建议按如下方式排序：未提交未截止作业（截止时间从早到晚）、已提交作业和已截止作业（按截止日期从晚到早）

[2019-09-20 15:04] robertying commented on #63
这是隐藏项设置：

隐藏了课程作业
![image](https://user-images.githubusercontent.com/22592111/65337439-b8c90700-dbfa-11e9-8335-f3953950f553.png)

这是依旧显示作业数的 badge：
![image](https://user-images.githubusercontent.com/22592111/65337474-ced6c780-dbfa-11e9-8993-62b076789bf1.png)

这是左侧菜单显示的作业数：
![image](https://user-images.githubusercontent.com/22592111/65337488-d5fdd580-dbfa-11e9-945a-8a2269d00a55.png)

[2019-09-23 04:15] Harry-Chen commented on #64
（整整退了两门课才）定位到了问题。

https://github.com/xxr3376/Learn-Project/blob/master/src/components/SummaryList.tsx#L77

当退课以后，`contentIgnore` 中对应的课程部分就已经被清空，所以计数时会发生错误。

[2019-09-23 04:15] Harry-Chen commented on #64
一般来说刷新页面可以解决，如果不能解决那么应该还有问题。

[2019-09-28 15:56] renzibei commented on #65
+1

[2019-10-06 13:56] Harry-Chen commented on #65
看起来的确是描述的问题，做排序的时候出了一些问题，可见 https://github.com/xxr3376/Learn-Project/commit/d4a402ef584a094aabcdb8f58d826a2e265891cb#diff-57e7216969609c9b5aaccf60f53e79cbR67-R74

[2019-10-06 14:05] Harry-Chen commented on #63
等待进一步调查

[2019-10-09 10:39] zhaoxh16 opened #67 "建议：根据google账户对已读信息进行同步"
在轮流不同电脑使用相同google账户登录网络学堂时，需要判断哪些信息读过哪些信息没有读过。可否将已读信息根据网络学堂账号或者google账号同步呢？

[2019-10-14 03:59] Hunter-CH3 opened #68 "[Bug Report]屏蔽课程后仍然显示为未完成"
将某门课程的作业屏蔽之后，在作业一栏不显示，但是仍然会显示在未完成作业数量中（仍然显示在Badge中）

[2019-10-14 06:51] Harry-Chen commented on #68
duplicate with #63

[2019-10-14 06:51] #68 closed

[2019-11-20 05:41] Harry-Chen commented on #67
考虑过使用 Chrome 提供的同步存储区的功能，但是因为 quota 太少，所以后来放弃了

[2019-12-13 05:49] dramforever opened #69 "建议：一键/自动重新获取 session"
有时点开作业详细信息看着做作业，做完作业点提交的时候加载网络学堂的页面时发现登录的 session 已经超时了，所以如果要交只能：

- 刷新，重新找到作业，或者
- 点开一个新的 learn helper 让它获取 session，关掉，点一个别的公告啥的，然后再点原来要交的作业的提交

希望可以在点击提交的时候如果 session 超时自动重新登录，或者放个重新获取 session 的按钮之类的。

（在超时的条件下疑似“手动刷新”会登录失败且重试也不管用，但是刷新和新开的 instance 正常，这点待确认和验证。）

[2019-12-31 08:56] Harry-Chen commented on #69
这里有个问题…网络学堂 session 过期它还是返回 200
手动刷新没用是因为它不会触发登录，不过这个可以加上

[2019-12-31 09:43] #69 closed

[2019-12-31 09:43] #64 closed

[2019-12-31 13:38] #63 closed

[2019-12-31 13:41] Harry-Chen commented on #59
目前无法复现，暂时先 close，遇到问题再 reopen

[2019-12-31 13:41] #59 closed

[2019-12-31 15:16] #65 closed

[2019-12-31 17:26] #47 closed

[2020-01-21 10:45] Harry-Chen opened #70 "i18n 支持"
RT，考虑不硬编码字符串

[2020-02-22 06:07] AkkoDiana opened #71 "Firefox点击下载文件下载内容是downloadFile"
点击这个下载文件后
<img width="387" alt="截屏2020-02-2214 03 51" src="https://user-images.githubusercontent.com/37377591/75087509-40d18500-557c-11ea-8e43-131b53a28d5c.png">
下载内容是这样的
<img width="475" alt="截屏2020-02-2214 04 03" src="https://user-images.githubusercontent.com/37377591/75087515-52b32800-557c-11ea-98fb-e6a6e5bac915.png">
而非对应的文件，但是文件大小却是正确的
环境是：Firefox 73.0.1 macOS Catalina 10.15.3

[2020-02-22 06:30] Harry-Chen commented on #71
确实，https://github.com/xxr3376/Learn-Project/blob/master/src/components/ContentCard.tsx#L266 忘记传入 `attachmentName` 了，下一个版本修复吧。

[2020-02-22 06:32] Harry-Chen commented on #71
目前看起来，作业里面的文件能够获取到文件名，但是老师上传的文件并不能

[2020-02-22 06:33] Harry-Chen commented on #71
很奇怪firefox不能自动根据 HTTP Header 重命名文件

[2020-02-25 09:10] 111116 opened #72 "功能请求：加入课程文件预览"
网络学堂中课程文件右侧有一个iframe，点击之后可以预览该文件的内容。希望 Learn Helper 也可以在课程文件的文件详情页面上加入这个功能

[2020-02-25 09:25] Harry-Chen commented on #72
查看了一下，嵌入 `https://learn.tsinghua.edu.cn/f/wlxt/kc/wj_wjb/student/beforePlay?sfgk=0&wjid=${file.id}&mk=mk_kcwj&pageType=all&browser=-1` 即可

[2020-02-25 09:26] Harry-Chen commented on #72
教师端为 `https://learn.tsinghua.edu.cn/f/wlxt/kc/wj_wjb/teacher/beforePlay?wjid=${file.id}&mk=mk_kcwj&sfgk=0&browser=-1`

[2020-02-25 09:26] 111116 commented on #72
这个iframe在点击之前显示的是文件封面 `pageType=first`，点击之后加载全部内容`pageType=all`

[2020-02-26 08:40] Harry-Chen commented on #72
fixed by c26acf37445950a5ec05db7630ef118c94141986 and included in v4.2.1

[2020-02-26 08:40] #72 closed

[2020-02-26 08:41] Harry-Chen commented on #71
Partially fixed in https://github.com/xxr3376/Learn-Project/commit/c26acf37445950a5ec05db7630ef118c94141986 and included in v4.2.1

[2020-02-26 08:41] #71 closed

[2020-03-01 11:40] Daniel-Gong opened #74 "在Chrome/Edge/Firefox端均显示“登录失败：登录超时”"
如题，我在多个浏览器试图登录learn helper的时候，输入了正确的用户名和密码，但是都无法正常登录，Snackbar一直显示“登录失败：登录超时”。清除cookie也不行。

  这里放上Chrome的控制台日志

[code]

[2020-03-01 11:43] Harry-Chen commented on #74
初次登录（打开保存密码的插件或者更换用户名密码后）登录的timeout是3秒，超过这一时间没有登录成功就会报告超时。你可以检查一下 Network 面板，相应请求应该的确没有返回。我会考虑在新版中加长一点限制，以免对网络状况不好的同学造成麻烦

[2020-03-03 06:19] #74 closed

[2020-05-14 04:29] RikaSugisawa opened #75 "建议：作业按ddl和完成状态排序"
现在的作业排序似乎是按ddl排序，最远的在最上面。

希望可以修改成先按完成状态排序，未完成的在上面（考虑到有些老师一股脑布置整学期的作业，也可以设置超过一定时间如两周的作业排在下面）。相同完成状态的按ddl排序，更近的在上面。

如果能自己设定就更好了（x）

[2020-08-20 01:42] xxxxyu opened #79 "建议增加学期选项"
今天想下载春季学期的课件复习，发现并没有

[2020-08-20 08:16] Azure-Vision opened #80 "mac上的Chrome无法使用"
![image](https://user-images.githubusercontent.com/23475597/90736534-70c9cd00-e300-11ea-9867-0dc1754135f1.png)
mac上的Chrome浏览器打开并登陆后只会显示如上界面

[2020-08-20 08:30] Harry-Chen commented on #80
请给出 Chrome 版本，Network 里面的网络请求和控制台日志

[2020-08-24 07:59] Azure-Vision commented on #80
Chrome 版本： 84.0.4147.135
Network 里面的网络请求：
![image](https://user-images.githubusercontent.com/23475597/91018748-8c93e280-e622-11ea-8ee8-775abbf95448.png)
![image](https://user-images.githubusercontent.com/23475597/91018801-9cabc200-e622-11ea-9bb8-7147bf4f03c1.png)
控制台日志：
` action persist/PERSIST @ 15:53:25.383
index.js:1  prev state {ui: {…}, helper: {…}, data: {…}}
index.js:1  action     {type: "p

[2020-09-02 03:37] Azure-Vision commented on #80
啊这，现在已经可以使用了

[2020-09-02 03:38] #80 closed

[2020-09-09 04:03] lqy16 commented on #79
附议

[2020-09-13 01:11] jiegec opened #81 "Chrome 85 下部分课程文件预览显示不能"
见 https://www.chromestatus.com/feature/5088147346030592

现象：第一次点击课程文件可以预览，之后的点击大概率不能预览。不能预览的请求，都没有 Cookie 。

[2020-09-13 01:16] jiegec commented on #81
设置 chrome://flags/#same-site-by-default-cookies 为 Disabled 可以绕过这个问题。

[2020-09-13 03:25] Harry-Chen commented on #67
目前 Google Chrome 提供的同步 quota 还是相当小，如果全部存进去的话，可能会导致课程比较多的用户工作异常，所以保险起见就干脆都不存了。

[2020-09-13 03:25] #67 closed

[2020-09-13 03:27] Harry-Chen commented on #81
根据 Chrome 的同源策略，在有权限访问某个站点的插件中嵌入的该站点的 iframe 也会被认为和该站点同源，所以这个问题不应该发生。此外，用户反馈“刷新之后第一次点击是好的”，考虑是 Chrome 的某种实现 bug。

[2020-09-13 08:38] Harry-Chen commented on #81
Add workaround in c1a021a6327227bd957551ce92908bc665fa46a1

[2020-09-13 08:38] #81 closed

[2020-09-13 08:39] Harry-Chen commented on #79
Implemented in b33bde92f1ba92acb01470c67451d71d0a5e24ea, will be released in 4.3.0

[2020-09-13 08:39] #79 closed

[2020-09-13 08:52] Harry-Chen commented on #75
排序逻辑：

[code]

优先级是：

* 星标
* 未读
* 未完成的作业
* 时间（从晚到早），分为：
    * 作业 ddl
    * 文件上传时间
    * 通知、讨论、问题的发布时间

可能还需要精细调整一下

[2020-09-13 08:58] Harry-Chen commented on #75
目前的修改：未完成的作业按照 ddl 反向排序，ddl 越近越靠上。完成的作业混在下面一起排序，过去的天数越少越靠上。

[2020-09-13 09:12] Harry-Chen commented on #75
Fixed in 147440d5d6aec5a00ef95a189c19c0c2dd647276 （忘了写在 commit log 了）

[2020-09-13 09:12] #75 closed

[2020-09-13 12:35] leezy233 opened #82 "密码正确但仍然需要重新输入凭据"
不知道是否是我操作的问题。
如果不勾选“保存凭据以自动登录”的话，即使输入用户名和密码正确显示登录成功，仍然会继续弹出“更新凭据窗口”。勾选“保存凭据以自动登录”则不出现此问题。（win10+最新版chrome）

![learn helper bug](https://user-images.githubusercontent.com/41156182/93018153-3eaa4300-f600-11ea-9c21-00be03e3cff9.png)

[2020-09-13 12:39] Harry-Chen commented on #82
确实是 bug，不过我最近一段时间没空继续修复了。先使用保存凭据，用完退出吧 😢

[2020-09-13 22:54] Xiangze-Li opened #83 "建议：对已评分作业加以颜色区分"
当前版本 (4.2.1, Edge 商店尚未推送 4.3.0 更新) 下, 所有已提交/已过期作业不论评分与否都被标记成灰色. 如果能把已经评分的作业用其他颜色标记会更加容易发现.

进阶: 如果能在作业被评分时将其重新标记为未读就更方便了

[2020-09-14 06:12] Harry-Chen commented on #83
事实上作业有以下的状态：

* 未过期，未提交（蓝色/黄色/红色铅笔）
* 未过期，已提交（绿色对勾）
* 已过期，未提交（灰色铅笔）
* 已过期，已提交（灰色对勾）

无论提交和过期状态，已经评分的作业的确会变成未读（这个判断依赖于网络学堂返回的 `lastUpdateTime` 的变化）。

[2020-09-14 06:13] Harry-Chen commented on #83
至少在 2019 年秋季学期，作业被评分之后 lastUpdateTime 会被更新，所以会变成未读。这个学期我还没有作业，所以没法调试。。。

[2020-09-18 13:16] IcicleF opened #84 "出现声称是不可恢复但实际刷新就能解决的错误"
如题，在进入Learn Helper时，偶尔会声称出现“不可恢复的错误”：

[code]

但在刷新一次后即可解决。

目前不清楚如何复现，但是印象中均是在首次打开Learn Helper时出现此问题；问题已在多台计算机上的Edge浏览器上出现，各个Edge之间的设置彼此同步。

[2020-09-18 13:18] Harry-Chen commented on #84
不可恢复是对于那一次特定的 launch 来说没救了 = =
是因为我 migration 没写对，所以从新版本升级 / 新安装一定会挂，下一个版本会修，但是反正刷新就好了就懒得马上发版本了

[2020-09-18 13:20] IcicleF commented on #84
草，关键是那么大一个清除数据按钮摆在那。
希望加个文字提示让我先刷新试试

[2020-09-21 12:41] Starrah opened #85 "作业页面显示的图标不对齐"
如下图。
环境：Win10，Chrome 85.0.4183.102，Learn Helper v4.3.0
虽然事实上其实并不影响使用\doge\doge
![QQ截图20200921203914](https://user-images.githubusercontent.com/46821571/93767474-aa1c9200-fc4a-11ea-92ca-dde8cd7a3118.png)

[2020-09-21 12:42] Harry-Chen commented on #85
material ui 更新之后 CSS 好像有一些失效了，下个版本修吧

[2020-09-21 14:30] Starrah commented on #85
已经定位问题并提交PR #86 ~

[2020-09-21 14:31] #85 closed

[2020-09-21 14:32] Harry-Chen commented on #85
Fixed in #86, thanks!

[2020-09-21 14:58] jameslahm opened #87 "SameSite=Lax by default cookies will cause 404 error in pages with iframe"
非常感谢开发这个项目！
`chrome`新版本已经对没有设置`SameSite`的cookie作第三方使用屏蔽处理，会导致含有网络学堂内嵌`iframe`的页面出现404。目前尝试可以通过`chrome://flags`，禁用掉`SameSite by default cookies`解决。`firefox`新版本可能也有这个问题，应该可以通过`about:config`，禁用掉`network.cookie.sameSite.laxByDefault`解决。感觉如果可行的话，可以加到文档里~

[2020-09-21 15:00] Harry-Chen commented on #87
不完全是这个问题，参见 #81 。

[2020-09-21 15:00] Harry-Chen commented on #87
因为理论上来说，插件是需要被认为同源的，否则插件的网络请求就全部废掉了。

[2020-09-21 15:19] jameslahm commented on #87
噢，是的，刚看到 https://www.chromium.org/updates/same-site/test-debug#TOC-Testing-Chrome-extensions
谢谢~

[2020-09-21 15:19] #87 closed

[2020-09-25 03:00] #82 closed

[2020-09-25 03:00] #84 closed

[2020-12-29 04:18] dramforever opened #90 "在某些课程特殊的配置下导致刷新课程信息失败"
如 微积分 A(1) 好像把除了作业和分组以外的 tab 都关了，然后就会出现。

[code]

[2021-01-19 05:49] Harry-Chen commented on #83
想起来了这个 issue，根据我个人的使用，本部分确认无误。至于是不是打分过的作业需要换颜色，这个可能还需要进一步的讨论。

[2021-01-19 06:50] Harry-Chen commented on #90
Fix in Harry-Chen/thu-learn-lib@v2.4.0

[2021-01-19 10:33] #90 closed

[2021-03-13 09:32] function2-llx opened #92 "无法切换到本学期"
版本为 4.4.0

如图，选项中无法找到"2020-2021春季学期"。

![image](https://user-images.githubusercontent.com/38486514/111025850-e1157880-8421-11eb-9ec6-cc859a2d9eab.png)

[2021-03-13 10:14] Harry-Chen commented on #92
感谢反馈，不过目前我找不到环境复现，有需要可以直接清空数据。

如果还保留着环境，可以查看一下 console 中的 `update_semester_list` 的 action 的数据，是否包含 ·2020-2021-2`，如图（可能需要进行一下手动刷新才能看到这个动作）：

![image](https://user-images.githubusercontent.com/2819727/111026886-d2ca5b00-8427-11eb-9ab1-3dac0abced27.png)

[2021-03-13 10:23] function2-llx commented on #92
感谢回复！

如图我查看了对应数据，的确看不见相关内容。不过，如果我选择手动刷新的话，还是会提醒我切换到当前网络学堂的学期（2020-2021 春季学期）。

![图片](https://user-images.githubusercontent.com/38486514/111027084-f346e500-8428-11eb-82b7-1422527f421a.png)

[2021-03-13 10:25] Harry-Chen commented on #92
你本学期选课了吗？获取当前学期和获取学期列表是不同的 API，有人似乎报告过后一个不会列出来没选课的学期

[2021-03-13 10:25] function2-llx commented on #92
我这学期确实没有选课，只有一门毕设

[2021-03-13 10:28] Harry-Chen commented on #92
看来的确是我想的情况了，可以考虑下一个版本做一个特判，把当前学期加进去

[2021-06-11 07:48] comradez opened #98 "Firefox扩展版本中下载文件无法正确获得文件名"
Firefox版本：89.0

Firefox扩展在点击卡片上的“下载文件”时，文件名无法正确获取，而是变成"downloadFile"
![图片](https://user-images.githubusercontent.com/9498051/121649730-70870200-cacb-11eb-87ee-da5634c37cdb.png)
![图片](https://user-images.githubusercontent.com/9498051/121649964-a6c48180-cacb-11eb-8bdd-4fefdc8cfca5.png)
但是单击右侧的下载文件链接，则可以正确地得到文件名，浏览器也可以依据扩展名决定正确的行为
![图片](https://user-images.githubusercontent.com/9498051/121650071-c78c

[2021-06-11 08:26] Harry-Chen commented on #98
duplicate with #71

[2021-06-11 08:26] #98 closed

[2021-06-11 08:31] Harry-Chen commented on #98
这个和 #71 略有区别，右侧是 `a` 标签，通过弹出新页面的方式打开：

https://github.com/Harry-Chen/Learn-Helper/blob/ba5515974a24c5b5345e6bff5471edd5bc3e1484/src/components/ContentDetail.tsx#L178-L182

但是由于技术限制，卡片的按钮不能这样，用的是 WebExtension API：

https://github.com/Harry-Chen/Learn-Helper/blob/ba5515974a24c5b5345e6bff5471edd5bc3e1484/src/utils/download.ts#L1-L12

可能是 FireFox 对后者的支持不完整，没有通过 HTTP Header 正确获得文件名。

[2021-06-11 10:08] Harry-Chen commented on #61
zhi'q之前版本中已经改为省略号截断：

![image](https://user-images.githubusercontent.com/2819727/121670418-fca32480-cadf-11eb-912e-63d0de08472a.png)

[2021-06-11 10:08] #61 closed

[2021-06-11 10:09] Harry-Chen commented on #83
由于没有进一步讨论，暂时关闭此 issue。

[2021-08-31 03:06] Harry-Chen commented on #92
目前网络学堂似乎也会给出没有选课的学期了，可以测试一下此问题是否还存在？

[2021-08-31 03:10] function2-llx commented on #92
看上去仍然存在：

![图片](https://user-images.githubusercontent.com/38486514/131435507-41017207-b366-4fd9-b1e5-3429538f5bbc.png)

[2021-08-31 05:36] Harry-Chen commented on #92
Fixed in https://github.com/Harry-Chen/Learn-Helper/commit/32952ae158deb7c5c9d758884071a9e4b6639c96

https://github.com/Harry-Chen/Learn-Helper/blob/32952ae158deb7c5c9d758884071a9e4b6639c96/src/components/dialogs/ChangeSemesterDialog.tsx#L89-L96

[2021-08-31 06:28] Harry-Chen commented on #92
Released in v4.4.1.

[2021-08-31 06:28] #92 closed

[2021-09-11 03:21] Co1lin opened #100 "误报“刷新课程信息失败”"
最近在使用本插件时，每次刷新均会弹出“刷新课程信息失败”的对话框，尝试重新刷新或者更新凭据均无效，而且实际上是登录成功也刷新成功了的（点击离线查看可以正常使用，可以看到更新出来的数据），感觉是误报。

[2021-09-11 04:02] function2-llx commented on #19
似乎本应用在 firefox 下架了，请问现在只能手动安装 unpacked 版本了吗？

[2021-09-11 08:05] jiegec commented on #100
请更新到 4.4.2

[2021-09-11 08:19] Co1lin commented on #100
问题已消失，感谢！

[2021-09-11 08:19] #100 closed

[2021-09-11 08:47] Harry-Chen commented on #100
并非误报，网络学堂对一部分 API 增加了 CSRF token 校验，因此原来的请求 403 了。4.4.2 解决了这一问题。

[2021-09-11 08:48] Harry-Chen commented on #19
@function2-llx 可以安装 self-hosted 版本，也会自动更新。请参见 <https://harrychen.xyz/learn> 相关说明。

[2021-09-12 14:24] erbanku opened #101 "Learn-Helper 失效"
**Learn-Helper失效，或许跟[近日网络学堂新增了的 xsrf token 鉴权](https://github.com/Trinkle23897/learn2018-autodown/pull/11#:~:text=%E8%BF%91%E6%97%A5%E7%BD%91%E7%BB%9C%E5%AD%A6%E5%A0%82%E6%96%B0%E5%A2%9E%E4%BA%86%20xsrf%20token%20%E9%89%B4%E6%9D%83%EF%BC%8C%E5%AF%BC%E8%87%B4%E5%8E%9F%E6%9C%89%E7%89%88%E6%9C%AC%E5%A4%B1%E6%95%88)有关，需要修复。**

![image](https://user-images.githubusercontent.com/79493862/132991410-1898e

[2021-09-12 14:50] jiegec commented on #101
请升级到 4.4.2

[2021-09-12 14:52] Harry-Chen commented on #101
请关注 CHANGELOG，4.4.2 已经解决了这一问题。你可以关注 thu-learn-helper 公众号获取最新更新信息。

[2021-09-12 14:52] #101 closed

[2021-09-13 02:34] list17 opened #102 "firefox扩展是下架了吗"

[2021-09-13 03:42] Harry-Chen commented on #102
请参见 <https://harrychen.xyz/learn/>

[2021-09-13 03:42] #102 closed

[2021-09-14 01:09] function2-llx commented on #98
Learn Helper 4.4.2 还是有这个问题。

似乎是因为如果调用 `browser.downloads.download` 只提供 url 的话，firefox 会默认把文件名设为 url 中 path 的最后部分，所以其实下载文件的 url 的形式是：`https://learn.tsinghua.edu.cn/b/wlxt/kj/wlkc_kjxxb/student/downloadFile?sfgk=&wjid=`，所以才会默认命名为 `downloadFile`。

然后我试着直接点击控制台中输出的下载 url，则可以正常下载且自动命名。

[2021-09-14 02:25] Harry-Chen commented on #98
由于一些技术限制，我无法在左侧的卡片中使用 `<a>` 标签嵌入链接。事实上 WebExtension API 正是由 FireFox 发起的，很奇怪 FF 本身的 `download` 函数不支持 `content-disposition` header 获得正确的文件名。此外使用打开新页面的方式发起下载始终是不可靠的：考虑如果它是一个 PDF/MP4 等浏览器可预览的文件，那么就不会触发正常的下载流程。

[2021-09-14 11:21] LDYang694 opened #103 "公告原文页面无法显示、无法提交作业"
课程公告的”公告原文“链接点击进去的页面空白，从一侧的课程文件等进去的页面也是空白。
v4.4.2 (build on Harry-XPS at 2021/09/11 10:00:21)
![微信截图_20210914191454](https://user-images.githubusercontent.com/62846124/133248651-fa1342c0-b3d0-4bf2-af83-e0f4ec45dcdd.png)
![微信截图_20210914191519](https://user-images.githubusercontent.com/62846124/133248655-98a6e1e6-0f85-40af-840e-6ef6333a346d.png)

[2021-09-14 12:51] Harry-Chen commented on #103
初步判断是链接后没有带 CSRF Token 导致的

[2021-09-14 15:19] Harry-Chen commented on #103
此问题较为复杂，公告部分网页并不依赖链接中的 CSRF Token，而是 AJAX 的时候从 `document.cookie` 里面读取并附加到 API 请求的地址后面。现在的问题是，iframe 里面的网页似乎 `document.cookie` 是空的。

[2021-09-14 15:20] Harry-Chen commented on #103
相关描述如下：

https://stackoverflow.com/questions/45094712/iframe-not-reading-cookies-in-chrome

[2021-09-14 15:23] Harry-Chen opened #104 "允许加载部分内容"
RT，部分课程关闭了一些功能（特别是作业），导致 API 爬取会失败。考虑允许失败的部分加载，否则插件将整体不可用。

[2021-09-15 01:58] Harry-Chen commented on #103
根据 [Chromium 文档](https://www.chromium.org/updates/same-site/test-debug#TOC-Testing-Chrome-extensions) 中的说明：

意味着确实框架中的脚本读不到 cookie，所以无法正常发起带 CSRF Token 的请求。

网络学堂的实现太扭曲了，似乎没有好的办法。

[2021-09-15 02:00] Harry-Chen commented on #103
此外，侧栏中的提交作业功能也因为类似原因wufashiyongl阿。

[2021-09-15 05:51] Harry-Chen commented on #103
在 1c325e2c0d26b58aaa97f35b170bf38568957a3a 和 218baf3e869f9f602db5a3f1bcf07b730259c914 中进行了修复，下一个版本的更新会包含这些内容。

[2021-09-15 07:13] Harry-Chen commented on #104
Fixed in f7ae8be389285cae9377895186f9becd00cd6bf5

[2021-09-15 08:22] Harry-Chen commented on #103
Released in v4.4.3

[2021-09-15 08:22] #103 closed

[2021-09-15 08:23] Harry-Chen commented on #104
Released in v4.4.3

[2021-09-15 08:23] #104 closed

[2021-09-15 09:54] LDYang694 opened #105 "课程文件同步异常"
4.4.3更新后课程文件同步出错
![QQ截图20210915175117](https://user-images.githubusercontent.com/62846124/133412079-17e69deb-10bf-4a74-ae2c-88273beb36dd.png)
更新后 课程新发送的文件不显示
v4.4.3 (build on Harry-XPS at 2021/09/15 15:45:35)

[2021-09-15 10:17] Harry-Chen commented on #105
Console 中有任何报错或者警告吗？

[2021-09-15 11:34] Harry-Chen commented on #105
抱歉，经过检查，确实是忘记拉文件了。预计今晚或者明天修复发新版。

[2021-09-15 14:02] Harry-Chen commented on #105
Released in v4.4.3.2

[2021-09-15 14:02] #105 closed

[2021-09-16 02:37] Harry-Chen commented on #105
@LDYang694 烦请协助确认问题是否解决？

[2021-09-16 08:16] LDYang694 commented on #105
该问题在v4.4.3.2已解决，感谢

[2021-09-24 08:03] zhuml19 opened #107 "建议：添加对于同步作业至Reminders的课程过滤功能"
主要针对类似“实验室科研探究”，“物理实验”等动辄会留80+作业的课，添加到Reminders里之后会很乱

[2021-09-24 12:54] Harry-Chen commented on #107
请问 Reminders 指什么？你是否要找的是 LearnX？

[2021-09-26 07:10] zhuml19 commented on #107
sry，已经重新在learnX仓库提issue了

[2021-09-26 07:10] #107 closed

[2021-09-26 15:05] elenacliu opened #108 "Chrome Extension 升级 v4.4.3.2 版本后登录时显示“登录失败：未知错误”"
如题。

![image.png](https://i.loli.net/2021/09/26/hMmYowjvPU7L4zt.png)

[2021-09-26 15:16] Harry-Chen commented on #108
烦请提供 console 和 network 面板的输出

[2021-09-26 15:26] elenacliu commented on #108
console 的输出：
![image.png](https://i.loli.net/2021/09/26/i8Mr1v9TGINEF6k.png)

network 的输出：
![image.png](https://i.loli.net/2021/09/26/8cLBioFlHWVfdJn.png)

[2021-09-26 15:31] Harry-Chen commented on #108
console 中的警告信息不是错误，从网络请求看似乎也没问题。我（以及若干其他同学）目前无法复现这个问题。可否尝试重装一下插件？

[2021-09-26 16:13] elenacliu commented on #108
感谢您的深夜回复！我刚刚尝试了以下方法：更换网络环境（切换不同校园网 WiFi，使用手机热点）、重装插件、重启电脑、关掉某冲浪软件，在 Chrome 上均存在此问题。我随之联想到最近使用 Chrome 访问学校的几个主要网站（如info，academic，mails.tsinghua.edu.cn）均存在无法加载等各种问题，于是下载了 Firefox 插件，并成功登录。

[2021-09-27 05:54] Harry-Chen commented on #108
也有可能是 Chrome 中有其他插件（比如广告拦截）导致了此问题，不过看起来不是 Learn Helper 的问题。

[2021-09-27 05:54] #108 closed

[2021-10-01 07:53] dramforever opened #109 "作业详情页有关作业附件的几个 feature request"
- 作业相关的显示，现在只有一个 card 上的小图标可以标志有附件，hover 的时候才能看到文件名，在作业详情也完全没有提到，visiblility 较差。希望可以在作业详情页增加一个作业附件链接
- 作业附件现在在 Learn-Helper  里只能下载不能预览，但是网络学堂中的作业详情里，点击作业附件的文件名可以打开预览。希望可以在 Learn-Helper 的作业详情页增加预览链接和嵌入的预览页面。
  ![Screenshot_20211001_154411](https://user-images.githubusercontent.com/2818072/135585051-4a143ece-60b0-4d9b-b771-30ac663c7e9d.png)

总之就是作业附件能做成课程文件那样就好了……

[2021-10-01 07:55] Harry-Chen commented on #109
可以帮我调研一下API🤣

[2021-10-02 12:07] elenacliu commented on #108
upd: 原因已找到。因为之前在 Chrome 中将 *.tsinghua.edu.cn 添加到了“始终无法使用 Cookie 的网站”中，将其移除后就能正藏登录了

[2021-11-05 08:56] Harry-Chen commented on #109
1. 新版中将会修复
2. 我找不到任何课程有可以预览的作业附件，因此新版中不会包含此功能

[2021-11-05 13:34] Harry-Chen commented on #109
Fixed in 6b52d6

[2021-11-05 13:34] #109 closed

[2021-11-08 02:14] jiegec opened #110 "4.5.0 版本在 Chrome 下导致直接访问 wlxt 出现403"
现象：启用 Learn Helper 的时候，通过网页访问 wlxt 出现错误：

![image](https://user-images.githubusercontent.com/6127678/140673825-12b29efb-4d83-4763-8860-e3639951ffed.png)

禁用 Learn Helper 插件后恢复。

[2021-11-08 06:16] Harry-Chen commented on #110
未能复现，具体步骤和 URL 是？

[2021-11-08 06:32] jiegec commented on #110
URL: https://learn.tsinghua.edu.cn/f/wlxt/index/course/student/index

应该是在访问的时候，执行了 inject csrf token.js，然后设置了 document.cookie

[2021-11-08 06:37] Harry-Chen commented on #110
依然无法复现，包括 Chrome 95.0.4638.69 (Windows / macOS)，Edge 95.0.1020.44。试试看只启用 Learn Helper？

[2021-11-08 06:39] jiegec commented on #110
怀疑是打开链接的时候，csrf token 泄露到了插件外面，写到了 session storage 里面：

![image](https://user-images.githubusercontent.com/6127678/140695371-0dfc9228-a7a4-4c2a-8037-9423c7d14a59.png)

[2021-11-08 06:41] Harry-Chen commented on #110
写的的确就是 session storage： https://github.com/Harry-Chen/Learn-Helper/blob/master/src/inject_csrf_token.js#L3-L20
这样用户关闭页面之后就会自动失效

[2021-11-08 06:43] jiegec commented on #110
应该是这个 tab 我一直没关，等 csrf token 超时以后就出锅了。。

[2021-11-08 06:43] #110 closed

[2021-11-29 06:17] nldxtd opened #111 "希望增加一键标记公告已读的功能"
该需求来源于跨设备同步问题，windows上读过的公告在mac上仍被标记为未读，不知有什么合理的解决办法。

[2021-11-29 07:03] Harry-Chen commented on #111
Duplicate with #67

[2021-11-29 07:03] #111 closed

[2022-03-16 13:27] Weslie0803 opened #114 "提交作业后自动更新作业状态"
可以考虑添加一个在提交作业后自动更新作业状态的功能吗？交完作业以后比较有成就感

[2022-03-18 02:49] Harry-Chen commented on #114
技术上此功能很难实现，因为不太方便检测是否在 iframe 中提交了作业，目前也没有单个刷新的功能。如果确实有需求，建议手工刷新。

[2022-03-18 02:49] #114 closed

[2022-04-25 03:30] tianze0926 opened #116 "建议增加黑暗模式"
插件的页面受 Chrome 保护，不能用 Dark Reader 等插件进行第三方渲染

[2022-04-25 04:59] Harry-Chen commented on #116
有此计划，但我没有精力和能力进行相关改动

[2022-07-02 07:37] cubele opened #117 "Chrome Web Store 标记为不安全"
用的是Edge浏览器，在chrome web store下载的插件，今天浏览器提示`已关闭此扩展，因为 Chrome Web Store 已标记其为不安全。`

在Edge商店中仍可以下载使用。

[2022-07-03 07:25] Harry-Chen commented on #117
正在修复中

[2022-07-03 11:33] Sim233 commented on #117
今天发现Chrome浏览器移除了这个插件，但是在“管理扩展程序”位置仍然可以开启。显示违反Chrome网上应用店政策。
![40b32e111a3c2de986a634b84902a69](https://user-images.githubusercontent.com/52943930/177037620-afe15149-a54e-46e9-af9e-3ad9538fd784.png)

[2022-07-04 14:54] Harry-Chen commented on #117
已经单独向 Chrome Web Store 提交了 4.5.1.1 版本以解决此问题。

[2022-07-04 15:13] Harry-Chen commented on #117
说明发布在 <https://mp.weixin.qq.com/s/amoEiVEudKLzk5uqIWZ9KA>

[2022-07-16 02:35] RenZihou commented on #116
可以在 chrome://flags 中查找 Auto Dark Mode for Web Contents 选项，开启后类似于 dark reader，但是由于是浏览器的功能，可以适用于插件页面

[2022-07-22 14:18] #117 closed

[2022-09-04 12:13] Ethkuil opened #119 "[feature request]同时维护不同学期的信息"
当前切换学期后会清空配置和状态信息。

「同时使用不同学期」在以下情况属于很难避免的需求：春夏季学期之交、夏秋季学期之交。上一个学期的作业、考试可能尚未完全结束，而下一个学期的课程公告已经到来。

对使用体验还是有一定影响的，不过并非不可或缺。

[2022-09-17 07:30] KveinAxel opened #120 "课程公告的图片拉伸"
课程公告的图片拉伸好像有点问题，如果上传了个很大的图片就会拉伸。直接打开图片链接是正常的，能扫上。就是直接扫压扁的图片不太行。

<img width="1920" alt="Snipaste_2022-09-17_15-26-38" src="https://user-images.githubusercontent.com/41867249/190845784-012f02d7-20fa-4db6-bd60-c63c56e8950e.png">

[2022-09-17 07:33] Harry-Chen commented on #120
这个问题存在比较久了，但我一直没怎么能复现。可能是网络学堂和插件的 CSS 冲突了，有兴趣的话可以在 F12 里面点点看，是谁施加的属性导致计算出了这个高度。

[2022-09-17 07:51] KveinAxel commented on #120
我看了一下，这个地方加载内容用的是一个iframe，iframe请求包的返回值是这样的
[code]

看到里面是一段jquery设置了宽高限制
[code]

[2022-09-17 12:21] Harry-Chen commented on #120
这就没什么办法了，是网络学堂自己的限制

[2022-10-03 12:43] Ethkuil opened #121 "定时刷新以避免“未登录”问题"
RT。太久未操作后回来，就会显示“未登录”。

Learn Helper 的“手动刷新”功能使得用户可一键继续操作，而且**能保留在之前操作的位置**，很方便。但如果能在连续几分钟未操作时定时调用一次“手动刷新”，可能会更方便！

[2022-10-04 11:40] Harry-Chen commented on #121
可以考虑定期调用登录 API，比刷新要好（不影响任何 UI）。

[2022-10-04 12:44] Weslie0803 opened #122 "建议：可以考虑接入网络学堂的课程问卷功能"
如题，有些课程会在网络学堂发布课程问卷，但目前的插件还没有接入网络学堂的问卷。希望若之后有空可以考虑添加。
十分感谢您的维护。

[2022-10-07 15:53] Ethkuil commented on #121
我想到有一种可能容易忽略的情况。

浏览器挂着 Learn Helper 的 tab，使用 Windows 的「休眠」关闭了系统。再次启动系统进入 Learn Helper 时，基本都会出现「未登录」，这个我遇到过很多次。

如果只是定时调用登录 API 的话，似乎会漏掉这种情况？因为 Learn Helper 没有一直在运行。

[2022-10-09 10:24] Starrah commented on #121
是否可能可以改成：全局储存上次登录的时间，在所有操作（比如下载课程文件/作业附件、打开提交作业的IFrame的时候），检查保存的上次登录时间，发现超过一定阈值就静默登录后再执行操作？
相当于是一种懒登录的模式

[2022-10-09 12:43] Ethkuil commented on #121
我认为可行。

[2022-10-10 15:23] Ethkuil commented on #121
或者也可以在捕获到「未登录」问题的时候自动调用“尝试登录”或“手动刷新”？这样的话不需要添加额外的数据。